.table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
}

.tableHeader {
  background-color: #ddd;
  padding: 12px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.tableRowItems {
  cursor: auto;
}

.tableCell {
  padding: 12px;
  font-size: 14px;
  color: #000;
  border: 1px solid #dee2e6
}
